.row {
  margin: 0;
}
a {
  text-decoration: none!important;
}
p {
  margin: 0;
}
.goods-content {
  padding: 0 .2rem;
  margin: .4rem 0 .5rem;
}
.goods-content .content-title {
  font-size: .45rem;
  font-weight: 400;
  margin-bottom: .2rem;
  padding-bottom: .2rem;
  border-bottom: 2px #eaeaea dashed;
}
.goods-content .good-item {
  width: 2.9rem;
  background: #f3f3f3;
  margin-top: .1rem;
  padding: 0;
}
.goods-content .good-item:nth-last-of-type(even) {
  margin-right: .2rem;
}
.goods-content .good-item img {
  width: 2.9rem;
  height: 3rem;
}
.goods-content .good-item .goods-msg {
  padding: .15rem;
}
.goods-content .good-item .goods-msg .msg-price {
  font-size: .26rem;
  font-weight: 500;
}
.goods-content .good-item .goods-msg .msg-title {
  font-size: .28rem;
  color: #905a08;
  border-bottom: solid 2px #905a08;
}
.goods-content .good-item .goods-msg .msg-red {
  color: red;
  font-size: .26rem;
  font-weight: bold;
}
.goods-content .good-item .goods-msg .msg-content {
  vertical-align: middle;
  color: white;
  height: .5rem;
  line-height: 0;
  padding-bottom: .6rem;
  background: #81511c;
}
.goods-content .good-item .goods-msg .msg-content .content-numb {
  font-size: .32rem;
  display: inline-block;
}
.goods-content .good-item .goods-msg .msg-content .content-price {
  font-size: .28rem;
  display: inline-block;
}
.signsuccess {
  padding-top: 1rem;
}
.signsuccess .title {
  margin-bottom: 1em;
  font-size: .35rem;
}
.signsuccess .content {
  padding: 0 .5rem;
  font-size: .26rem;
  margin: 0;
}
.signsuccess .download {
  margin: .5rem .3rem ;
  display: block;
  background: #09bb07;
  font-size: .28rem;
  color: white;
  height: .5rem;
  line-height: .5rem;
  border-radius: .08rem;
}
