body{
    background: #ECECEC;
}
/*.head{*/
    /*margin-bottom: .5em;*/
    /*border-bottom: 1px solid #CCCCCC;*/
    /*font-family: "微软雅黑 Light";*/
    /*height: 3em;*/
    /*line-height: 3em;*/
    /*font-size: 1.2em;*/
    /*position: fixed;*/
    /*z-index: 1000;*/
    /*top: 0;*/
    /*left: 0;*/
    /*width: 100%;*/
    /*background: white;*/
/*}*/
.container{
    margin-top: 1em;
}
.col-xs-4{
    height: 200px;
    width: auto;
    border: solid 1px red;

}
img{
    display: block;
    max-width: 100%;
    height: auto;
}
.cellitem{
    padding: 0 0 .6rem 0;
    position: relative;
    box-shadow: 0 1px 12px rgba(0, 0, 0, .5);
    margin-bottom: 1em;
    border-radius: .2em;
    background: white;
}
.cellitem p{
    padding: .3em 1em;
    font-weight: bold;
}
.cellitem a{
    display: block;
    height: 2.5rem;
    background: rgb(9,187,7);
    color: white;
    margin: 0 .6em;
    border-radius: 1.25em;
    line-height: 2.5rem;
    text-decoration: none;
}
.signsuccess{
    padding-top: 5em;

}
.signsuccess .title{
    margin-bottom: 1em;
    font-size: 1.6em;
}
.signsuccess .content{
    padding: 0 1em;
}
.signsuccess .download{
    margin:3em 1em ;
    display: block;
    background: rgb(9,187,7);
    color: white;
    height: 2.5em;
    line-height: 2.5em;
    border-radius: .5em;
}